/* Page styling */
body, html {
    margin: 0;
    padding: 0;
    color: var(--Beige-700); /* global text color */
    background-color: var(--Beige-050);
    font-family: 'KuMincho', sans-serif;
}

main {
    margin: 0px;
    padding: 0px 64px;
}

/* Nav styling */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 144px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
}

.logo {
    height: 32px!important;
    width: auto !important;
}

/* Section styling */
main section {
    margin-bottom: 4rem;
    text-align: center;
}

.dish-container > div {
    margin-top: 32px;
    margin-bottom: 32px;
}

.section-logo {
    height: 80px; /* Initial height */
    width: 80px; /* Initial width */
    transition: width 0.8s ease, height 0.8s ease;
}

.site-logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 16px 0 !important; 
    margin-bottom: 40px;
    border-bottom: 1px solid transparent; 
}

.site-logo img {
   width: auto;
   height: 112px;
}

.logo-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 16px 0 !important; 
    background: var(--Beige-050);
    width: 100%;
    z-index: 10;
    transition: height 0.3s ease, width 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent; 
}

.logo-container.sticky {
    border-bottom: 1px solid var(--Beige-200);
}

.logo-container.sticky .section-logo {
    width: 112px;
    height: 112px;
}


/* Media standards */
.logo {
    width: 60%;
    max-width: 400px;
}

/* Dish entry styling */
.dishNameCN {
    height: 20px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    margin: 0 auto 12px;
}
.dishNameEN {
    font-size: 16px;
    margin-bottom: 8px;
}
.dishDescription {
    font-size: 14px;
    margin-bottom: 0px;
}

.dishNameCN .icon {
    width: 18px;
    height: 18px;
}

.dishNameCN .icon:first-child {
    margin-left: 8px;
}
.dishNameCN .icon:not(:first-child) {
    margin-left: 4px;
}

.dishNameEN, .dishDescription {
    display: block; 
    margin-top: 0px;
}

/* Index page styles */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; /* Allows some margin on the sides */
}

.menu-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--Beige-500); /* Button color */
    color: var(--Beige-400);
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Larger font for easier tapping */
    margin-top: 20px;
}
