/* Page styling */
body, html {
    margin: 0;
    padding: 0;
    color: var(--Beige-700); /* global text color */
    background-color: var(--Beige-050);
    font-family: 'KuMincho', sans-serif;
}

main {
    padding: 32px;
}

/* Nav styling */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: var(--Beige-100);
}

header .logo img {
    height: 32px !important;
    width: auto !important;
}

.hidden {
    display: none;
}

.menu-icon img, .close-icon {
    cursor: pointer;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}

#navbar {
    position: fixed;
    top: 0; right: 0; /* Set it to stick to the right */
    width: 100%; height: 100%;
    background-color: var(--Beige-200); /* Updated background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%); /* Start hidden to the right */
    transition: transform 0.3s ease;
}

#navbar.hidden {
    transform: translateX(100%); /* Keep hidden to the right when closed */
}

#navbar.active {
    transform: translateX(0);
}

.close-icon {
    position: absolute;
    top: 32px;
    right: 32px;
    display: none; /* Hide close icon initially */
}

#navbar.active .close-icon {
    display: block; /* Show close icon when menu is active */
}


/* Section styling */
main section {
    margin-bottom:4rem;
    text-align: center;
}

.dish-container > div {
    margin-bottom: 40px;
}

.section-logo {
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
    width: 40%;
    max-width: 120px;
}

/* Media standards */
.logo {
    width: 60%;
    max-width: 400px;
}

/* Dish entry styling */
.dishNameCN {
    height: 18px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    margin: 0 auto 12px;
}
.dishNameEN {
    font-size: 14px;
    margin-bottom: 8px;
}
.dishDescription {
    font-size: 12px;
    margin-bottom: 0px;
}
ul {
    list-style-type: disc;
    padding-left: 1rem;
}
li {
    font-size: 16px;
    margin-bottom: 8px;
}

.dishNameCN .icon {
    width: 18px;
    height: 18px;
}

.dishNameCN .icon:first-child {
    margin-left: 8px;
}
.dishNameCN .icon:not(:first-child) {
    margin-left: 4px;
}

.dishNameEN, .dishDescription {
    display: block; 
    margin-top: 0px;
}

/* Index page styles */
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; /* Allows some margin on the sides */
}

.menu-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--Beige-500); /* Button color */
    color: var(--Beige-400);
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Larger font for easier tapping */
    margin-top: 20px;
}
